<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>User</title>
<style>
.validationError
{
	color:red;
}
</style>
</head>
<body>
	<h1>New User</h1>
	<form method="POST" th:object="${user}" action="/user/new">
		<input type="hidden" th:field="*{id}" th:value="${user.id}">
	  <p>Name: <input type="text" th:field="*{name}" th:value="${user.name}"></span>.
	  <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></span>
     	</p>
	  </p>
	  <p>Email: <input  type="text" th:field="*{email}"  th:value="${email}"></span>.
	  <span class="validationError"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"></span>
     	</p>
	  </p>
	  Gender <select th:field="*{gender}">
		    <option th:value="'M'" th:text="Male"></option>
		    <option th:value="'F'" th:text="Female"></option>
			</select>
		</p>
		Course <select th:field="*{courseId}">
				<option th:each="course: ${courses}" 
						th:value="${course.id}" 
						th:text="${course.name}"
						th:selected="${course.id == user.courseId}"/>
			   </select>
		</p>
		<button type="submit">Submit</button>
	</form>
</body>
</html>
