<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>User</title>
</head>
<body>
	<h1>User</h1>
	<table border="1">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Email</th>
				<th>Gender</th>
			</tr>
		</thead>
		<tr th:each="user: ${users}">
			<td><span th:text="${user.id}"></span></td>
		  <td><span th:text="${user.name}"></span></td>
		  <td><span th:text="${user.email}"></span></td>
		  <td><span th:text="${user.gender}"></span></td>
		
	</tr>
	</table>
	<a href='/user/new'>New User</a>
	
</body>
</html>
